body {
  background-color: rgba(252, 251, 251, 0.416);
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  border-radius: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgba(191, 193, 188, 0.726);
  margin-left: 700px;
  margin-top: 300px;
  box-shadow: 0 5px 30px 5px;
}

.valorMoeda {
  font-size: 20px;
}

input {
  height: 25px;
  margin: 10px;
  border-radius: 5px;
}

.butao {
  height: 35px;
  background-color: rgb(100, 241, 119);
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

h4 {
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  background-color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 60px;
}
